@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
 }

 :root{
    --main-color:#be9c79;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }
 html{
     scroll-behavior: smooth;
     overflow-x: hidden;
 }
.navi .container{
    max-width: 1300px;
    margin: auto;
    padding-top: 6px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: var(--white);
    
}
.navi{ 
    position: sticky; 
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-bottom: 2px solid var(--main-color);
    
}
.logo img{
    max-width: 46px;
    margin-top: 7px;
    margin-left: 20px;
}
nav{
    flex: 1;
    text-align: right;
    align-items: center;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.23rem;
    color: black;
}
.row .maininfo{
    display: flex;
    align-items: center;
    min-height: 45rem;
    padding-bottom: 2rem;
}
.maininfo .content{
    max-width: 40rem;
    text-align: center;
}
.row::before{
    content: "";
    position: absolute;
    background: linear-gradient(90deg, var(--white), transparent 70%), url('images/home-bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 680px;
    z-index: -1;
    right: 0;
    left: 0;
}
.maininfo h3{
    font-size: 4rem;
   color:var(--black);
   font-family: 'Merienda One', cursive;
}
.maininfo p{
    padding:1rem 0;
    font-size: 1.0rem;
    color:var(--black);
    line-height: 2;
}
.btn{
    display: inline-block;
    background-color: var(--main-color);
    width: 130px;
    height: 40px;
    cursor: pointer;
    font-size: 1.0rem;
    color: var(--white);
    margin-top: 0.8rem;
}
.btn:hover{
    background-color: var(--black);
 }
 /* -----------mini info--------- */

#info{
    
    max-width: 1200px; 
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.row-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 1rem; */
    justify-content: center;
    flex-wrap: wrap; 
}
.col-2{
    flex-basis: 50%;
    min-width: 350px;
    padding-left: 30px;
    padding-right: 30px;
}
.col-2 img{
    max-width: 100%;

}
.col-2 h3{
    font-size: 2.3rem;
   color:var(--black);
   font-family: 'Merienda One', cursive;
   margin-bottom: 1.2rem;
}
.col-2 p{
    padding:0.8rem 0;
    font-size: 0.91rem;
    color:var(--black);
    line-height: 2;
}
.col-2 a{
    padding: 7px 11px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.row-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
}
.row-2 img{
    width: 175px;
    display: inline-block;
    margin: auto;
}
.row-2 h4{
   font-size: 2rem;
   color:var(--black);
   margin:1rem 0;
   font-family: 'Merienda One', cursive;
}
.row-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-top: 1rem;
    flex-wrap: wrap;
}
.col-3{
    margin: auto;
    min-width: 250px;
    flex-basis: 25%;
    text-align: center;
}
.col-3 img{
    max-width: 100%;
    display: flex;
    margin: auto;
}
.col-3 h3{
    font-size: 1rem;
    color:var(--black);
    margin:1rem 0;
    font-family: 'Merienda One', cursive;
}
.col-3 p{
    padding:0.8rem 0;
    font-size: 0.91rem;
    color:var(--black);
    line-height: 2;
}

.row-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.col-4{
    margin: 0;
    min-width: 264px;
    flex-basis: 27%;
    text-align: center;
}
.col-4 img{
    max-width: 100%;
    display: flex;
    margin: auto;
}
.col-4 h3{
    font-size: 1rem;
    color:var(--black);
    margin:1rem 0;
    font-family: 'Merienda One', cursive;
}
.row-5{
    display: flex;
    justify-content: center; 
    margin-top: 1rem;
    flex-wrap: wrap; 
    gap: 1rem;
    margin: 1rem auto;
}
.row-5 img{
    display: block;
    width: 100%;
}

.col-5{
    margin: 0;
    min-width: 290px;
    flex-basis: 30%;
    text-align: center;
}
.col-5 img{
     max-width: 100%;
}
#gall img{
    max-width: 100%;
    height: 100%;
} 

.col-5 h3{
    font-size: 1rem;
    color:var(--black);
    margin:1rem 0;
    font-family: 'Merienda One', cursive;
}

.col-5 p{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0.7rem;
}
#table{
    border: 2px solid var(--light-color);
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
#table input{
    border: 2px solid var(--light-color);
    height: 60px;
    width: 450px;
    margin: auto;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}
#table h4{
    font-size: 1.3rem;
    color:var(--black);
    margin:1rem auto;
    font-family: 'Merienda One', cursive;
}

#table button{
    display: inline-block;
    margin: 20px auto;
}
.alert{
    text-align: center;
    display: none;
}
.alert p{
    font-size: 17px;
    color: #be9c79;
    font-weight: 300;
    font-family: 'Merienda One', cursive;
}
i{
   
   border-radius: 50%;
   background-color: var(--main-color);
   color:var(--white);
   width: 60px;
   height: 60px;
   margin: auto;
   font-size: 1.8rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}
#ph{
    margin-top: 3.3rem;
}
hr{
    border: none;
    height: 1px;
    margin: 20px 0px;
    background: var(--black);
}
.copyright{
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.copyright span{
    color: var(--main-color);
}
.navbar img{
    max-width: 30px;
    display: none;
}


/* -------------------------responsive--------------------- */
@media only screen and (max-width:1110px) {
    #table input{
        max-width: 380px;
    }
    
}

@media only screen and (max-width:1060px){
  
    #table input{
        max-width: 300px;
    }
    .copyright{
        text-align: center;
        font-size: 1.4rem;
        
    }
    .col-3{
        min-width: 60px;
    }
    .row-3{
        align-items: flex-start;
    }
}
@media only screen and (max-width:815px){
    #table input{
        max-width: 280px;
    }
}
@media only screen and (max-width:770px){
    #table input{
        max-width: 270px;
    }
    .col-3{
       flex-basis: 45%; 
    }
    .row-3{
        margin-top: 3rem;
    }
    .navbar img{
        display: inline-block;
        cursor: pointer;
        margin-top: 1.8rem;
    }
    nav ul {
        position: absolute;
        top: 65px;
        right: 0;
        background: var(--white);
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s;
        text-align: center; 
        justify-content: center;
    }
    nav ul li{
        display: inline-block;
        width: 100px;
        margin: 10px auto;
        background: var(--white);
        border-radius: 8px;
        padding: 4px;
    }
    li:hover{
        background-color: var(--main-color);
    }
    nav ul li a{
        color: var(--black);
    }
    a:hover{
        color: var(--white);
    }
    nav ul{
        padding: 0;
    }
    .logo img{
        margin-top: 11px;
    }
}
@media only screen and (max-width:415px){
    
    .col-3 p{
        padding: 0px 10px;
        font-size: 13px;
        text-align: center;
    }
    .col-3 h3{
        font-size: 0.8rem;
        margin: 0.5rem 0;
    }
    .col-3{
        height: 100%;
    }
    #ph{
        margin-top: 0.7rem;
    }
    .logo img{
        margin-top: 12px;
    }
    #table input{
        max-width: 250px;
    }

}


